.tickets {
  padding: 220px 0;

  &__title {
    font-family: NeutralFace;
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-transform: uppercase;
  }

  &__info {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #878886;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 80px;
  }

  &__item-wrap {
    border-top: 2px solid #187437;
  }

  &__description {
    max-width: 444px;

    &-item {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #878886;
    }
  }

}

.photogallery {
  padding-bottom: 220px;
  pointer-events: none;
  user-select: none;
}

@media screen and (max-width: 1023px) {
  .tickets {
    padding: 180px 0;

    &__header {

      &-block {
        max-width: 354px;
      }
    }

    &__description {
      max-width: unset;
    }
  }
}

@media screen and (max-width: 767px) {
  .tickets {
    padding: 120px 0;

    &__header {
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 32px;

      &-block {
        max-width: 100%;

        &:not(:last-child) {
          margin-bottom: 56px;
        }
      }
    }

    &__title {
      font-size: 28px;
      line-height: 32px;
      margin-bottom: 15px;
    }

    &__info {
      font-size: 13px;
      line-height: 18px;
    }

    &__description {
      &-item {
        font-size: 13px;
        line-height: 18px;
        padding-right: 70px;
      }
    }

    &__btn {
      font-size: 16px;
      line-height: 130%;
      width: 140px;
      height: 39px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--green-color);
      border: none;
    }
  }
}