.speakers {
  padding-bottom: 220px;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      font-family: NeutralFace;
      font-weight: 400;
      font-size: 40px;
      line-height: 56px;
      text-transform: uppercase;
      color: var(--white-color);
      margin-bottom: 40px;
    }

    &-btns {
      .btn:nth-child(1) {
        margin-right: 20px;
      }
    }
  }

  .btn {
    padding: 16px 30px;
    border-radius: 600px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    transition: all .4s ease;
    border: none;
  }

  .black-btn {
    color: #ffffff;
    background: #10110D;
    border: 1px solid #ffffff;

    &:hover {
      color: #10110D;
      background: #ffffff;
    }
  }
}


@media screen and (max-width: 1023px) {
  .speakers {
    padding-bottom: 180px;
  }
}

@media screen and (max-width: 767px) {
  .speakers {
    padding-bottom: 120px;

    &__header {
      &-title {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 32px;
      }

      &-btns {
        display: flex;
        flex-direction: column;

        .black-btn {
          width: 280px;
          height: 39px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 12px;
          padding: 0;
        }

        .red-btn {
          width: 280px;
          height: 39px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  .btn-speakers {
    width: 280px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    padding: 0;
  }
}

@media screen and (max-width: 479px) {
  .speakers {
    &__header {
      &-title {
        text-align: center;
      }

      &-btns {
        margin: 0 auto;
      }
    }
  }
}