.img__item {
  border-radius: 600px;
  max-height: 536px;
  object-fit: contain;
  width: auto;
}

@media screen and (max-width: 1349px) {
  .img__item {
    max-height: 400px;
  }
}

@media screen and (max-width: 1023px) {
  .img__item {
    max-height: 237px;
  }
}