.tickets__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 32px;
  border-bottom: 2px solid #187437;
  transition: all .4s ease;

  &:hover {
    background: #187437;

    .tickets__item-old,
    .tickets__description-item {
      color: #FFFFFF;
    }

    .tickets__btn {
      background-color: #FFFFFF;
      color: #187437;
    }

  }

  &-name {
    font-family: NeutralFace;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-transform: uppercase;
  }

  &-price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &-new {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 29px;
    position: relative;

    &::after {
      content: '₽';
      position: absolute;
      right: -14px;
    }
  }


  &-old {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: #878886;
    position: relative;

    &::after {
      content: '₽';
      position: absolute;
      right: -14px;
    }
  }

  &-box {
    &:first-child {
      min-width: 383px;
      max-width: 383px;
      margin-right: 120px;
    }

    &:nth-child(2) {
      width: 100%;
    }
  }

}

.tickets__btn {
  padding: 16px 30px;
  width: 180px;
  height: 56px;
  border: 1.5px solid #FFFFFF;
  border-radius: 600px;
  background-color: #10110D;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  user-select: none;

  &:focus {
    border: none;
    outline: none;
  }

  &:active {
    border: none;
    outline: none;
  }
}

.tickets__description-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #878886;
  position: relative;

  &::after {
    content: '—';
    position: absolute;
    left: -19px;
  }
}

@media screen and (max-width: 1349px) {
  .tickets__item {
    &-box {
      &:first-child {
        min-width: 176px;
        max-width: 176px;
        margin-right: 60px;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .tickets__item {
    padding: 28px 0;
    flex-direction: column;

    &-box:not(:last-child) {
      margin-bottom: 32px;
    }

    &-box:first-child {
      min-width: unset;
      max-width: unset;
      margin-right: unset;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    &-name {
      margin-bottom: unset;
    }
  }
}

@media screen and (max-width: 767px) {
  .tickets__item {
    padding: 30px 0;

    &:hover {
      background: unset;
    }

    &-name {
      font-size: 24px;
      line-height: 32px;
    }

    &-new {
      font-size: 18px;
      line-height: 24px;
      margin-right: 34px;
    }

    &-old {
      font-size: 18px;
      line-height: 24px;
    }

    &-box {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }

    &-price {
      margin-right: 15px;
    }
  }

  .tickets__btn {
    font-size: 16px;
    line-height: 130%;
    width: 140px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--green-color);
    border: none;
  }

  .tickets__description-item {
    &::after {
      display: none;
    }
  }
}

@media screen and (max-width: 479px) {
  .tickets__description-item {
    padding-right: 0;
  }
}