.popup-ticket {
  &__wrap {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(7.5px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;

    .error {
      font-size: 10px;
      position: absolute;
      top: 50px;
      left: 0;
      color: red;
    }

    .error__policy {
      font-size: 10px;
      position: absolute;
      top: 50px;
      left: 0;
      color: red;
    }



    &.active {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__content {
    width: 514px;
    height: 698px;
    transform: scale(0.5);
    transition: 0.4s all;

    &.active {
      transform: scale(1);
    }
  }

  &__checkbox-wrap {
    position: relative;
  }

  &__inner {
    background: #10110D;
    border-radius: 0 28px 30px 0;
    padding: 86px 64px;
    position: relative;

    &::before {
      content: '';
      background-image: url('../../../../public/img/popup-ticket.webp');
      width: 150px;
      height: 700px;
      position: absolute;
      left: -150px;
      top: 0;
      border-radius: 30px 0 0 30px;
    }
  }

  &__title {
    font-family: NeutralFace;
    font-weight: 400;
    font-size: 36px;
    line-height: 56px;
    text-transform: uppercase;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    color: #878886;
    max-width: 281px;
  }

  &__header {
    margin-bottom: 58px;
  }

  &__input {

    &-wrap {
      position: relative;
    }

    &-wrap.has-danger {
      .popup-ticket__input {
        border: 1px solid #EA6143;
      }
    }
  }

  &__block {
    max-width: 386px;
  }

  .privacy-policy__text,
  .privacy-policy__link {
    font-size: 14px;
    line-height: 125%;
    color: #878886;
  }

  .privacy-policy__link {
    border-bottom: 1px solid #878886;
  }

  &__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
  }

  &__checkbox+label::after {
    content: "";
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
    border: 1px solid #878886;
    border-radius: 2px;
    display: flex;
    order: -1;
    margin-right: 12px;
  }

  &__checkbox:checked+label::after {
    content: "";
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='11' viewBox='0 0 10 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.455078 6.47191L3.95158 9.5455L9.54599 0.45459' stroke='black'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background-color: #EA6143;
    border-color: #EA6143;
    display: flex;
  }

  &__box {
    margin-bottom: 58px;
  }

  &__close {
    position: absolute;
    right: 20px;
    top: 22px;
    z-index: 7;
    cursor: pointer;
    background: transparent;
    border: none;

    svg.icon.close {
      max-width: 22px;
      max-height: 22px;
      fill: #FFFFFF;
    }
  }

  .popup-modal {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;


    &__title {
      font-family: NeutralFace;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 36px;
      line-height: 56px;
      margin-bottom: 8px;
    }

    &__subtitle {
      max-width: 263px;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #878886;
      text-align: center;
    }
  }
}

.red-btn {
  background: #EA6143;
  border: none;

  &:hover {
    background: #D05034;
  }
}

.btn {
  padding: 16px 30px;
  border-radius: 600px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  transition: all .4s ease;
  border: none;
}

.popup-ticket__input {
  border: 1px solid #878886;
  border-radius: 4px;
  background: #10110D;
  width: 386px;
  height: 44px;
  outline: none;
  padding: 12px 14px;
  margin-bottom: 32px;
}

@media screen and (max-width: 1349px) {}

@media screen and (max-width: 1023px) {}

@media screen and (max-width: 767px) {
  .popup-ticket {
    width: 300px;
    height: 541px;
    background-image: none;
    border-radius: 20px;

    &__content {
      width: 300px;
      height: 541px;
    }

    &.sucsess {


      &::before {
        border-radius: 20px;
      }
    }

    &._modified {
      .popup-ticket__inner {
        padding: 59px 20px 31px;
      }

      .popup-ticket__header {
        margin-bottom: 24px;
      }

      .popup-ticket__box {
        margin-bottom: 24px;
      }

      .popup-ticket__input {
        margin-bottom: 20px;
      }
    }

    &__inner {
      width: inherit;
      height: 100%;
      border-radius: 20px;
      padding: 60px 20px;

      &::before {
        display: none;
      }
    }

    &__close {
      right: 12px;
      top: 12px;

      svg.icon.close {
        max-width: 16px;
        max-height: 16px;
      }
    }

    &__title {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 4px;
    }

    &__subtitle {
      font-size: 12px;
      line-height: 14px;
      max-width: 244px;
    }

    &__header {
      margin-bottom: 42px;
    }

    &__input {
      border: 1px solid var(--color-gray3);
      border-radius: 4px;
      background: var(--main-color);
      width: 100%;
      height: 38px;
      outline: none;
      padding: 10px 8px;
      margin-bottom: 25px;
      font-size: 14px;
      line-height: 125%;
    }

    & .privacy-policy__text,
    & .privacy-policy__link {
      font-size: 12px;
      line-height: 14px;
    }

    &__box {
      margin-bottom: 42px;
    }

    .btn.red-btn {
      width: 100%;
      height: 39px;
      padding: 0;
    }

    .pristine-error.text-help {
      font-size: 10px;
      margin-top: 0;
      position: absolute;
      top: 40px;
      left: 0;
    }

    &__checkbox-wrap {
      .pristine-error.text-help {
        top: 45px;
      }
    }

    .chevron-up {
      max-width: 18px;
      max-height: 18px;
      position: absolute;
      right: 16px;
      top: 13px;
    }

    &__list {
      display: none;
      position: absolute;
      top: 36px;
      background: var(--main-color);
      width: 100%;
      left: 0;
      border-radius: 0px 0px 4px 4px;
      border: 1px solid var(--color-gray3);
      z-index: 5;
    }

    &__item {
      font-size: 14px;
      line-height: 125%;
      padding: 10px 8px;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background: var(--green-color);
        color: var(--white-color);
      }

      &.active {
        background: var(--green-color);
        color: var(--white-color);
      }
    }
  }
}

@media screen and (max-width: 479px) {}