.speakers-block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(304px, 1fr));
  grid-gap: 80px 32px;

  &__img {
    img {
      width: 304px;
      height: 304px;
      max-height: 304px;
      border-radius: 50%;
    }
  }

  &__fulname {
    max-width: 284px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 28px;
  }

  &__name,
  &__surname {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin: 0 auto;
    color: #FFFFFF;
    padding: 0px 75px;
    text-align: center;
  }

  &__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    text-align: center;
    color: #878886;
    max-width: 284px;
    margin-top: 12px;
    height: 70px;

    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    overflow-wrap: anywhere;
  }

  &__city {
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    text-align: center;
    color: #878886;
    max-width: 284px;
    margin-top: 12px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1349px) {
  .speakers-block {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
    grid-gap: 80px 20px;

    &__img {
      max-width: 315px;
      margin: 0;

      img {
        width: 315px;
        height: 315px;
        max-height: 315px;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .speakers-block {
    grid-template-columns: repeat(auto-fit, minmax(354px, 1fr));

    &__img {
      max-width: 354px;
      margin: 0 auto;

      img {
        width: 354px;
        height: 354px;
        max-height: 354px;
      }
    }

    &__fulname {
      max-width: 334px;
      margin: 28px auto 0;
    }

    &__desc {
      max-width: 334px;
      margin: 12px auto 0;
    }
  }
}

@media screen and (max-width: 767px) {

  .speakers-block {
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-gap: 60px 20px;

    &__img {
      max-width: 210px;

      img {
        width: 210px;
        height: 210px;
        max-height: 210px;
      }
    }

    &__fulname {
      max-width: 210px;
      margin: 16px auto 0;
    }

    &__desc {
      max-width: 210px;
      margin: 8px auto 0;
      font-size: 12px;
      line-height: 14px;
      -webkit-line-clamp: 5;
    }

    &__name,
    &__surname {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

@media screen and (max-width: 479px) {
  .speakers-block {
    display: flex;
    flex-wrap: wrap;

    &__item {
      display: flex;
      align-items: flex-start;
      flex-direction: row;
    }

    &__img {
      max-width: 78px;
      margin: 0 auto;

      img {
        width: 78px;
        height: 78px;
        max-height: 78px;
      }
    }

    &__fulname {
      max-width: 100%;
      height: auto;
      margin: 0;
      align-items: flex-start;
    }

    &__name,
    &__surname {
      margin: 0;
      padding: 0;
      text-align: left;
    }

    &__desc {
      max-width: 100%;
      text-align: left;
    }

    &__inner {
      margin-left: 16px;
    }

    &__city {
      font-size: 12px;
      text-align: left;
    }
  }
}